/dts-v1/;

#include "mt7981b.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "NRadio C8-688";
	compatible = "nradio,c8-688", "mediatek,mt7981b", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
		led-boot = &led_status;
		led-failsafe = &led_status;
		led-running = &led_status;
		led-upgrade = &led_status;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8 root=PARTLABEL=rootfs_2nd rootwait rootfstype=squashfs,ext4";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x40000000>; /* 1024MB (1GB) RAM */
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_status: status {
			label = "blue:status";
			gpios = <&pio 9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		net {
			label = "green:net";
			gpios = <&pio 10 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&uart0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

&eth {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "2500base-x";

		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
		};
	};

	gmac1: mac@1 {
		compatible = "mediatek,eth-mac";
		reg = <1>;
		phy-mode = "gmii";
		phy-handle = <&phy0>;
	};
};

&mdio_bus {
	phy0: ethernet-phy@0 {
		reg = <0>;
		compatible = "ethernet-phy-id03a2.9461";
	};
};

&mmc0 {
	bus-width = <8>;
	max-frequency = <52000000>;
	cap-mmc-highspeed;
	non-removable;
	status = "okay";
};

&usb_phy {
	status = "okay";
};

&xhci {
	status = "okay";
};
